/* Definimos las variables globales (Custom properties */
:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400; 
    --color-headings: #1b0760;
    --color-body: #918ca4;


    /*TYPOGRAPHY*/

}
 html{ 
     font-size: 62.5%  /* 62.5 of 16px = 10px*/
 }

body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
    
}

h1,h2,h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2{font-size: 4rem;}
h3{font-size: 3rem;}

p{
    margin-top:0;
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;

    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.4rem;
    }
}

/* LINKS */

a{
   text-decoration: none;
}
.link-arrow{    
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.link-arrow::after{
  /* añadimos una felcha detras del link arrow */  
    content: "-->";
    padding-left: 5px;
    transition: padding-left 0.15s;  
}

.link-arrow:hover::after{ 
    /* el target es el "fater" pero cuando el cursor esté sobre el link arrow */
    padding-left: 10px;  
}

@media screen and (min-width: 1024px) {
    /* Definimos las media queries para cada componente porque los breakpoins puede que no sean los mismos para cada cosa */
    .link-arrow{
        font-size: 1.5rem; 
    /* En pantallas pequeñas es mejor hacer los links más grandes para que sea mas leible */
    }
}

/* BADGES */

.badge {
    border-radius: 20px; 
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem; 
    white-space: nowrap; /* con esta propiedad el texto no salta de línea aunque el contenedor sea pequeño*/
}

.badge--small{
    font-size: 1.6rem;
}

.badge--primary /* block--modifier*/ {
    background: var(--color-primary);
    color: #fff;   
}

.badge--secondary{
    background: var(--color-secondary);
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }
    .badge--small {
        font-size: 1.2rem;
    }
}

/* LISTS */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings)
}

.list--inline .list__item /* block__element */{ 
    display: inline-block;
    margin-right: 2rem;
}

.list--tick{
    padding-left: 3rem;
    list-style-image: url(../images/tick.svg);

}

.list--tick .list__item /* Nesting: este estilo solo aplica a los list--items dentro del list--tick*/{
    padding-left:0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
    
}

/* ICONS */

.icon{
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill:var(--color-primary)
}

.icon-container {
    background:#f3f9fa;
    width: 64px;
    height: 64px; 
    border-radius: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}