<section class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis,
        consectetur tenetur excepturi quis laborum velit quos obcaecati animi
        itaque nisi?
      </p>
    </header>
    <div style="width: 50%; padding: 4rem">
      <div>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Voluptatum aspernatur doloribus rem natus asperiores aut neque a
          officia sapiente explicabo!
        </p>
      </div>
    </div>
    </div>
  </section>



  
  <section class="block block--dark block--skewed-left">
    <div class="container">
      <!-- cuando el fondo es oscuro aplicamos el container dentro del bloque para que el fondo siempre sea negro-->
      <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Perferendis, consectetur tenetur excepturi quis laborum velit quos
          obcaecati animi itaque nisi?
        </p>
      </header>
      <div style="width: 50%; padding: 4rem">
        <div>
          <p>Lorem ipsum dolor sit amet.</p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Voluptatum aspernatur doloribus rem natus asperiores aut neque a
            officia sapiente explicabo!
          </p>
        </div>
      </div>
    </div>
  </section>